.about {
  padding-top: 32px;
  padding-bottom: 71px;
  background-color: $colorMainDark;
  &__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  &__title {
    margin-bottom: 5px;
    color: white;
  }
  &__text {
    @include fontMain;
    line-height: 28px;
    color: $colorSecondary;
  }
  &__img {
    margin-bottom: 17px;
    max-width: 100%;
  }
  &__item-title {
    display: inline-block;
    margin-bottom: 12px;
    @include fontSecondary;
    font-size: 24px;
    color: white;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 30px;
  }

}

.form__input {
  padding-left: 10px;
  background-color: $colorSecondaryDarker;
  color: white;
  box-sizing: border-box;
  &::placeholder {
    color: white;
  }
}

@media (max-width: 1310px) {
  .about {
    padding-bottom: 82px;
    &__form {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 20px;
      justify-items: baseline;
    }
  }
  .form__input {
    min-width: 332px;
  }
}

@media (max-width: 1023px) {
  .about {
    padding-bottom: 64px;
  }
  .about__item-title {
    margin-bottom: 16px;
  }
  .form__input {
    padding-left: 22px;
    min-width: 100%;
    &::placeholder {
      padding-left: 22px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    padding-bottom: 60px;
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
    &__img {
      margin-bottom: 22px;
      min-width: 100%;
      
    }
    &__text {
      font-size: 14px;
      line-height: 25px;
    }
    &__item:first-child {
      margin-bottom: 24px;
    }
    &__item-title {
      font-size: 18px;
    }
    &__form {
      row-gap: 20px;
    }
  }

  .form__btn {
    padding: 9px 19px;
    font-size: 14px;
  }

  .form__input {
    height: 40px;
    max-width: 278px;
    min-width: 278px;
    font-size: 14px;
    &::placeholder {
      font-size: 14px;
    }
  }
}