.projects{
  padding-top: 70px;
  padding-bottom: 68px;
  &__title {
    margin-bottom: 12px;
  }
  &__grid-wrapper {
    display: grid;
    row-gap: 16px;
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;

    
  //   grid-template-areas: 
  //     "a a b b  c c d d  d d d d"
  //     "e e e e  e e f f  f f g g"
  //     "e e e e  e e f f  f f g g";
  }
  &__img {
    max-width: 100%;
    min-width: 100%;
    max-height: 422px;
  }
  
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    & .hash {
      top: 8px;
      right: 8px;
      padding: 5px 14px;
    }
    &-date svg {
      width: 12px;
      height: 12px;
    }
    &-content-wrapper {
      position: absolute;
      top: 22px;
      bottom: 40px;
      left: 29px;
      right: 49%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      & .projects__item-descr {
        color: white;
      }
      & .projects__item-date {
        margin-bottom: 5px;
      }
    }
    &-descr {
      margin-bottom: auto;
      font-size: 16px;
      line-height: 22px;
      &_full {
        display: none;
      }
    }
    &-title {
      margin-bottom: 10px;
      @include fontSecondaryBold;
      font-size: 24px;
      line-height: 24px;
      color: white;
    }
  }

  &__item:nth-child(1){
    grid-column: span 2;
  }
  &__item:nth-child(2){
    grid-column: span 2;
  }
  &__item:nth-child(3){
    grid-column: span 2;
  }
  &__item:nth-child(4){
    grid-column: span 6;
  }
  &__item:nth-child(5){
    grid-column: span 6;
  }
  &__item:nth-child(6){
    grid-column: span 3;
  }
  &__item:nth-child(7){
    grid-column: span 3;
  }
  &__item-date span {
    font-size: 12px;
    line-height: 22px;
    color: $colorMainLight;
  }
  &__item-content-wrapper &__item-date span {
    color: white;
  }
  &__img {
    object-fit: cover;
  }
  &__img_small {
    margin-bottom: 15px;
  }
}

@media (max-width: 1310px) {
  .projects {
    &__grid-wrapper {
      grid-template-columns: repeat(24, 1fr);
      row-gap: 20px;
    }
    &__item-content-wrapper {
      top: 30px;
      right: 45%;
      & .projects__item-date {
        margin-bottom: 2px;
      }
    }
    &__item-title {
      margin-bottom: 6px;
    }
    &__item:nth-child(1){
      grid-column: span 6;
    }
    &__item:nth-child(2){
      grid-column: span 6;
    }
    &__item:nth-child(3){
      grid-column: span 12;
    }
    &__item:nth-child(4){
      grid-column: span 15;
    }
    &__item:nth-child(5){
      grid-column: span 15;
      order: 7;
    }
    &__item:nth-child(6){
      grid-column: span 9;
    }
    &__item:nth-child(7){
      grid-column: span 9;
    }
    &__item-descr {
      &_full {
        display: inline;
      }
      &_hide {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  .projects {
    &__grid-wrapper {
      row-gap: 25px;
    }
    &__item-title {
      max-width: 70%;
    }
    &__item:nth-child(1){
      grid-column: span 8;
    }
    &__item:nth-child(2){
      grid-column: span 8;
    }
    &__item:nth-child(3){
      grid-column: span 8;
    }
    &__item:nth-child(4){
      grid-column: span 24;
    }
    &__item:nth-child(5){
      grid-column: span 24;
      order: 7;
    }
    &__item:nth-child(6){
      margin-bottom: 6px;
      grid-column: span 12;
    }
    &__item:nth-child(7){
      grid-column: span 12;
    }
    &__item-descr {
      min-height: 79px;
      &_full {
        display: none;
      }
      &_hide {
        display: inline;
      }
    }
  }
}

@media (max-width: 767px) {
  .projects {
    padding-top: 50px;
    &__title {
      margin-bottom: 18px;
    }
    &__item-content-wrapper {
      top: auto;
    }
    &__grid-wrapper {
      grid-template-columns: 1fr;
      row-gap: 25px;
    }
    &__item:nth-child(1){
      grid-column: span 1;
    }
    &__item:nth-child(2){
      grid-column: span 1;
    }
    &__item:nth-child(3){
      grid-column: span 1;
    }
    &__item:nth-child(4){
      grid-column: span 1;
    }
    &__item:nth-child(5){
      grid-column: span 1;
      order: 7;
    }
    &__item:nth-child(6){
      grid-column: span 1;
    }
    &__item:nth-child(7){
      grid-column: span 1;
    }
    &__item {
      &-content-wrapper {
        right: 29px;
      }
      &-title {
        font-size: 24px;
      }
      &-descr {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
  }
}