$colorMainDark: #202020;
$colorMainLight: #999999;
$colorAccentBright: #FF6E30;
$colorAccentDarker: #CE4307;
$colorAccentDarckest: #BC572B;
$colorSecondaryLight: #E9E9E9;
$colorSecondary: #CACACA;
$colorSecondaryDarker: #4A4A4A;
$colorBcgLight: #E5E5E5;
$colorFocus: #BC572B;

